<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>204017376977-t30g9vniin0ve0cq1hmurnth9tmftmpr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.204017376977-t30g9vniin0ve0cq1hmurnth9tmftmpr</string>
	<key>API_KEY</key>
	<string>AIzaSyDEfx4aASAy_UQVFebg4hdikuk-_nj9pHo</string>
	<key>GCM_SENDER_ID</key>
	<string>204017376977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stormdeve.voyContigo</string>
	<key>PROJECT_ID</key>
	<string>voy-contigo-47d64</string>
	<key>STORAGE_BUCKET</key>
	<string>voy-contigo-47d64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:204017376977:ios:1738eba34a0f490e32eff0</string>
	<key>DATABASE_URL</key>
	<string>https://voy-contigo-47d64-default-rtdb.firebaseio.com</string>
</dict>
</plist>